@model IEnumerable<ASPNET_MVC_MolvenoReservationApplication.Models.Reservation>

@{
    ViewData["Title"] = "ReservationOverview";
}

<h2>Overview Reservations</h2>

<style>

    table {
        width: 450px;
        border: 2px solid lightgray;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
        background: rgba(255,255,204, 0.2);
    }
</style>

<p>
    <a asp-action="Index">Admin homepage</a>
</p>

<p>
    <a asp-action="ReservationCreate">Make a reservation</a>
</p>

@*Added the columns Name,phone,email*@

<body background="https://i.pinimg.com/originals/5a/a2/f4/5aa2f4c287849a6b5d3b8de4424e083d.jpg">
</body>

<table class="table" id="reservationtable">
    <thead>
        <tr>
            @*<th>
                    @Html.DisplayNameFor(model => model._resArrivingTime)
                </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Time)
            </th>
            <th>
                @Html.DisplayNameFor(model => model._resPartySize)
            </th>
            <th>
                @Html.DisplayNameFor(model => model._resGuest._guestName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model._resGuest._guestPhone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model._resGuest._guestEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model._resHidePrices)
            </th>
            <th>
                @Html.DisplayNameFor(model => model._resComments)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                @*<td>
                        @Html.DisplayFor(modelItem => item._resArrivingTime)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Time)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item._resPartySize)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item._resGuest._guestName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item._resGuest._guestPhone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item._resGuest._guestEmail)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item._resHidePrices)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item._resComments)
                </td>
                <td>
                    <a asp-action="ReservationEdit" asp-route-id="@item.ReservationID">Edit</a> |
                    <a asp-action="ReservationDetails" asp-route-id="@item.ReservationID">Details</a> |
                    <a asp-action="ReservationDelete" asp-route-id="@item.ReservationID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@*Creating a datatable*@

@section Scripts{
    <script>
            $(document).ready(function () {
                $('#reservationtable').DataTable();
            });
    </script>
}
