@model IEnumerable<ASPNET_MVC_MolvenoReservationApplication.Guest>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model._guestName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model._guestPhone)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model._guestEmail)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item._guestName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item._guestPhone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item._guestEmail)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.GuestID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.GuestID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.GuestID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
