@model ASPNET_MVC_MolvenoReservationApplication.ViewModels.ReservationViewModel

@{
    ViewData["Title"] = "Create";
    string info = (string)ViewData["TableFound"];
}

<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="https://code.jquery.com/ui/jquery-ui-git.js"></script>
<link href="https://code.jquery.com/ui/1.12.1/themes/sunny/jquery-ui.css" rel="stylesheet" />

@*<script src="~/jquery-ui-1.12.1.custom/external/jquery/jquery.js"></script>
    <script src="~/jquery-ui-1.12.1.custom/jquery-ui.js"></script>
    <link href="~/jquery-ui-1.12.1.custom/jquery-ui.css" rel="stylesheet">*@

@section PageStyles
    {

    <style>

        form {
            width: 450px;
            border: 2px solid lightgray;
            padding-left: 20px;
            padding-right: 20px;
            padding-top: 10px;
            padding-bottom: 10px;
            background: rgba(255,255,204, 0.2);
        }
    </style>

}

<body background="https://i.pinimg.com/originals/5a/a2/f4/5aa2f4c287849a6b5d3b8de4424e083d.jpg">


    <h2>Reservation</h2>

    <h4>Molveno Lake Resort Restaurant</h4>
    <hr />
    @{
        string a = "";
        if (ViewData["TableFound"] != null)
        {
            a = ViewData["TableFound"].ToString();
        }
    }

    <h6 id="feedback" data-info="foo">@Html.Raw(a)</h6>
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create" id="form">
                <div>
                    <span style="color:red">
                        @Html.ValidationMessage("No availability")
                    </span>
                </div>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                @*<div>
                        <input asp-for="ReservationID" class="form-control textbox" type="number" hidden />
                    </div>
                    <div>
                        <input asp-for="TableID" class="form-control textbox" type="number" hidden />
                    </div>
                    <div>
                        <input asp-for="GuestID" class="form-control textbox" type="number" hidden />
                    </div>*@

                @* Input Validation: As a calendar *@
                <div class="form-group">
                    <div id="dateblock">
                        <label asp-for="ArrivingDate" id="datelabel" class="control-label">Date:</label>
                        <input asp-for="ArrivingDate" style="width: 250px; height: 35px;" class="form-control textbox" onchange="myFunction(),MyFunction3()" id="date" type="text" min="2018-04-23" tabindex="1" required readonly />
                        <span asp-validation-for="ArrivingDate" class="text-danger"></span>
                    </div>
                </div>

                <script>
                    var disableddates = ["5-20-2018", "5-28-2018", "5-29-2018", "5-31-2018", "6-15-2018"];
                </script>

                <br />
                <label id="timelabel">Time:</label>
                <br />
                @* Input Validation: The minimum Hour can be 12 and maximum hour can be 21; all minutes are included *@
                @* Input Validation: The minimum Hour can be 12 and maximum hour can be 21; all minutes are included  if its not 21 hours*@
                <div class="form-group">
                    @*<label asp-for="ArrivingHour" class="control-label"></label>*@
                    <div id="timeblock">
                        <select asp-for="ArrivingHour" class="form-control-static combobox" type="number" max="10" min="0" required tabindex="2" onchange="MyFunction2()" id="cmb_Time">
                            <option disabled selected hidden></option>  @*Added this option so when you start you don't see 12:00, but you cannot select it (hidden)*@
                        </select>
                        <span asp-validation-for="ArrivingHour" class="text-danger"></span>

                        @*<label asp-for="ArrivingMinute" class="control-label"></label>*@
                        <select asp-for="ArrivingMinute" class="form-control-static comboboxMinutes" type="number" max="10" min="0" required tabindex="3" id="cmb_Minutes">
                            <option disabled selected hidden></option>  @*Added this option so when you start you don't see 12:00, but you cannot select it (hidden)*@
                            <option value="0">00</option>
                            <option value="15">15</option>
                            <option value="30">30</option>
                            <option value="45">45</option>
                        </select>
                        <span asp-validation-for="ArrivingMinute" class="text-danger"></span>
                    </div>                    
                </div>
                <script>
                    var min = @Model.PossibleReservationHours.Min()
                        max = @Model.PossibleReservationHours.Max();

                    var lengthList = @Model.PossibleReservationHours.Count();
                </script>

                @* Input Validation: minimum party size = 0; maximum party size=10; it is required *@
                <div class="form-group">
                    <div id="partysizeblock">
                        <label asp-for="Partysize" id="partysizelabel" class="control-label">Party size:</label>
                        <input asp-for="Partysize" class="form-control numberbox" id="partysize" type="number" max="10" min="1" style="width: 80px; height: 35px;" required tabindex="4" />
                        <span asp-validation-for="Partysize" class="text-danger"></span>
                    </div>
                </div>
                <div id="SendData">
                    <input type="submit" value="Check Availability" onclick="SendDatatoController(document.getElementById('date').value, document.getElementById('cmb_Time').value, document.getElementById('cmb_Minutes').value, document.getElementById('partysize').value);" id="btnChkAvail" />
                </div>
            </form>

            <!--form asp-action="" id="guestDetailsForm">
                @* Input Validation: It only accepts letters; it accepts a maximum of 25 characters; it is required;  *@
                <div class="form-group">
                    <div id="nameblock" style="display: none;">
                        <label asp-for="GuestName" id="namelabel" class="control-label">Name:</label>
                        <input asp-for="GuestName" id="name" class="form-control textbox" type="text" style="width: 250px; height: 35px;" pattern="^[A-Za-z][A-Za-z ,.'-]{0,23}[A-Za-z]$" max="25" required tabindex="5" title="The name should only consist of letters with a maximum of 25 characters." />
                        <span asp-validation-for="GuestName" class="text-danger"></span>
                    </div>
                </div>

                @* Input Validation: It only accepts numbers; It expects 10 numbers; is required unless email has a value;  *@
                @*|(?:[0]{2}[3][0-9]{10}) = for 0031-612345678 numbers*@
                <div class="form-group">
                    <div id="phoneblock" style="display: none;">
                        <label asp-for="GuestPhone" id="phonelabel" class="control-label">Phone number:</label>
                        <input asp-for="GuestPhone" class="form-control textbox" id="phone" type="text" max="25" style="width: 250px; height: 35px;" pattern="(?:[+][0-9]{11})|(?:[0][0-9]{9})|(?:[0-9]{10})" tabindex="6" required title="Phone number should consist of + and 11 numbers or 0 and 9 numbers or 10 numbers" />
                        <span asp-validation-for="GuestPhone" class="text-danger"></span>
                    </div>
                </div>

                @* Input Validation: It only accepts numbers; It expects 10 numbers; is required unless phone number has a value;  *@
                <div class="form-group">
                    <div id="emailblock" style="display: none;">
                        <label asp-for="GuestEmail" id="emaillabel" class="control-label">Email:</label>
                        <input asp-for="GuestEmail" class="form-control emailbox" id="email" type="email" style="width: 250px; height: 35px;" tabindex="7" required />
                        <span asp-validation-for="GuestEmail" class="text-danger"></span>
                    </div>
                </div>

                <br />

                <div class="form-group">
                    <div id="hidepricesblock" style="display: none;">
                        <label asp-for="Hideprices" id="hidepriceslabel" class="control-label"> Would you like to hide the prices <br /> on the menu card?</label>
                        <input asp-for="Hideprices" class="form-control-static checkbox" type="checkbox" tabindex="8" />
                        <span asp-validation-for="Hideprices" class="text-danger"></span>
                    </div>
                </div>

                @* Input Validation: Maximum number of characters accepted is a 100 *@
                <div class="form-group">
                    <div id="commentsblock" style="display: none;">
                        <label asp-for="ResComments" id="commentslabel" class="control-label">Comments:</label>
                        @* <input asp-for="ResComments" class="form-control text" type="text" style="width: 400px; height: 150px;" tabindex="9" max="100" />*@
                        <textarea asp-for="ResComments" style="width:400px;height:150px;resize:none" tabindex="9" max="100"></textarea>
                        <span asp-validation-for="ResComments" class="text-danger"></span>
                    </div>
                </div>

                <br />
                <br />



                <br />
                <br />
                <div class="form-group">

                    <div id="submitbutton" style="display: none;">

                        <input type="submit" value="Confirm Reservation" id="submit" class="btn btn-default" tabindex="10" />
                    </div>
                </div>
                <div class="form-group">
                    <label for:"AnyotherProblem" class="OtherProblems">Feel free to contact us on 0000000000 if you experience any problems.</label>
                </div>
            </form>-->
        </div>
    </div>
    <div>
        <a asp-controller="Home" asp-action="Index">Back to homepage</a>
    </div>
</body>










