@model ASPNET_MVC_MolvenoReservationApplication.Models.Reservation

@{
    ViewData["Title"] = "Delete";
}

<style>
    h3{
        color:white;
    }

</style>

<h3>Are you sure you want to delete this?</h3>
<body background="http://1.bp.blogspot.com/-32Kd2jhSCX8/UFdVeCWN72I/AAAAAAAABSE/wfCf4wnkyoU/s1600/LAVine2.jpg"></body>
<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            <label>Date & Time: </label>
        </dt>
        <dd>
            @Html.DisplayFor(model => model._resArrivingTime)
        </dd>
        <dt>
            <label>Party Size:</label>
        </dt>
        <dd>
            @Html.DisplayFor(model => model._resPartySize)
        </dd>
        <dt>
            <label>Name:</label>
        </dt>
        <dd>
            @Html.DisplayFor(model => model._resGuest._guestName)
        </dd>
        <dt>
            <label>Phone:</label>
        </dt>
        <dd>
            @Html.DisplayFor(model => model._resGuest._guestPhone)
        </dd>
        <dt>
            <label>Email:</label>
        </dt>
        <dd>
            @Html.DisplayFor(model => model._resGuest._guestEmail)
        </dd>
        <dt>
            <label>Hide Prices:</label>
        </dt>
        <dd>
            @Html.DisplayFor(model => model._resHidePrices)
        </dd>
        <dt>
            <label>Comments:</label>
        </dt>
        <dd>
            @Html.DisplayFor(model => model._resComments)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ReservationID" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
