@model ASPNET_MVC_MolvenoReservationApplication.Models.Reservation

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Reservation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model._resPartySize)
        </dt>
        <dd>
            @Html.DisplayFor(model => model._resPartySize)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model._resArrivingTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model._resArrivingTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model._resHidePrices)
        </dt>
        <dd>
            @Html.DisplayFor(model => model._resHidePrices)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model._resComments)
        </dt>
        <dd>
            @Html.DisplayFor(model => model._resComments)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ReservationID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
<div>
    <a asp-controller="Admin" asp-action="Index">Back to Admin homepage</a>
</div>
